<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Information Page</title>
  </head>
  <body>
    <h1>The site is Under Maintenance</h1>
    <p>Please come back later ...</p>
  </body>
</html>
